/* element selectors */
input{border-color:#003049;}
/* ID selectors */
/*#my1{background-color:black;}*/
/* Class selectors */
/*.my2{background-color:rgb(245, 0, 0); }*/
span{font-size:15px;font-family:Georgia;line-height: 2em;}
.fit{width: 400px;}
body{padding: 0px 0px 10px 30px;}
button{border-radius: 10px;}
form{border: 1px solid rgb(247, 169, 169);}
h1{text-align: center;}