body{
    background-color: #fffef9;
}
.left{
    display:inline-block;
    /* border:black 2px solid; */
    position:absolute;
}
.right{
    display:inline-block;
    position:absolute;
    right: 34px;
    top: 8px;
    /* border: 2px solid; */
}
.right a{
    text-decoration: none;
}
.navbar{
    display: block;
    margin: auto;
    width: 30%;
    /* border: 2px solid; */
}.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: #9f8557;
    text-decoration: none;
    padding: 5px 5px;
    
}
.navbar li a:hover{
    color:rgb(53, 53, 53);
    text-decoration:underline;
}
#name{
   font-size:27px;
}
.left a{
    text-decoration: none;
    color:#444;
}
.header{
    transition:ease-in 2s;
}