

body{
    background-color: #fffef9;
}
.left{
    display:inline-block;
    /* border:black 2px solid; */
    position:absolute;
    left:50px;
}
.right{
    display:inline-block;
    position:absolute;
    right: 34px;
    top: 8px;
    /* border: 2px solid; */
}
.right a{
    text-decoration: none;
}
.navbar{
    display: block;
    margin: auto;
    width: 30%;
    /* border: 2px solid; */
}.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: #9f8557;
    text-decoration: none;
    padding: 5px 5px;
    
}
.navbar li a:hover{
    color:rgb(53, 53, 53);
    text-decoration:underline;
}
#name{
   font-size:27px;
   left:20px;
}
.left a{
    text-decoration: none;
    color:#444;
}
.header{
    transition:ease-in 2s;
}
.btn{
    margin: 1.5px;
    background-color: white;    
    border: 0px;
    color: #9f8557;
    font-size: 19px;
}
.btn:hover{
    color:black;
    border-color: #9f8557;
}
#heading{
    margin-top: 149px;
    margin-left: 200px;
    position: absolute;
    display: inline-block;
    width: 200px;
    color: #9f8557;
}
#vline{
    border-left-color: #9f8557;
    border-left-style: solid;
    border-left-width: 3px;
    position: absolute;
    height: 80px;
    left: 290px;
    top: 100px;
}
#vline2{
    border-left-color: #9f8557;
    border-left-style: solid;
    border-left-width: 3px;
    position: absolute;
    height: 55px;
    left: 290px;
    margin-top: 210px;
}
#vline3{
    border-left-color: #9f8557;
    border-left-style: solid;
    border-left-width: 3px;
    position: absolute;
    height: 55px;
    left: 290px;
    margin-top: 305px;
}
#discover{
    margin-top: 265px;
    margin-left: 239px;
    padding: 10px 20px;
    background: whitesmoke;
    color: #9f8557;
    border-color: #9f8557;
}
img{
  
    border: 2px solid black;
    width: 569px;
    margin-left: 500px;
    margin-top: -239px;
    height: 748px;
    transition-property: all;
    transition-duration: 2s;
    transition: ease-in-out 2s;
}
